* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
} 

.title {
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}

.products-list {
  list-style: none;
}

.product-card {
  background-color: #F7F7FA;
  width: 340px;
  padding: 25px;
  margin: 45px;
}

.text-2nd {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
}

.compound {
  padding-left: 15px;
}

.price-block {
  padding-top: 25px;
}

.price-block b {
  font-size: 20px;
  line-height: 24px;
}

.price-block span {
  font-size: 20px;
  line-height: 24px;
  padding-left: 150px; /*временно - пометка для себя*/
}